{{#section 'css'}}
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.10/css/bootstrap-select.min.css">
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">

<link rel="stylesheet" href="/asset/css/news_management.css">
{{/section}}

{{#section 'js'}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.10/js/bootstrap-select.min.js"></script>

<script src="/asset/js/widget_utility.js"></script>

{{!-- <script src="asset/js/admin/admin.js"></script> --}}

<script src="/asset/js/admin/editor.js"></script>
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
<script>
    $(function () {
        $('#dtpicker_dob').datetimepicker({
            timepicker: false,
            format: 'd/m/Y',
            mask: true,
            maxDate : new Date()
        });
        $('#formRegister').validate({
            rules: {
                name: {
                    required: true
                },
                dob: {
                    required: true
                },
                email: {
                    required: true,
                    email: true,
                    remote: {
                        url: '/admin/editor/is-available',
                        data: {
                            'email': function () {
                                return $('#txtEmail').val();
                            }
                        },
                        dataType: 'json'
                    }
                },
                password: {
                    required: true,
                    minlength: 6
                },
                confirmPw: {
                    required: true,
                    equalTo: $('[name="password"]')
                }
            },
            messages: {
                name: {
                    required: 'Tên người dùng không được rỗng.'
                },
                dob: {
                    required: 'Ngày sinh không được rỗng.'
                },
                email: {
                    required: 'Email không được rỗng.',
                    email: 'Email không hợp lệ.',
                    remote: 'Email này đã tồn tại.'
                },
                password: {
                    required: 'Mật khẩu không được rỗng.',
                    minlength: 'Mật khẩu có ít nhất 6 kí tự.'
                },
                confirmPw: {
                    required: 'Mật khẩu xác nhận không được rỗng.',
                    equalTo: 'Mật khẩu xác nhận không trùng với mật khẩu.'
                }
            },
            errorElement: 'em',
            errorClass: 'mt-2 d-block text-danger text-left',
            highlight: function (e) {
                $(e).removeClass('is-valid').addClass('is-invalid');
            },
            unhighlight: function (e) {
                $(e).removeClass('is-invalid').addClass('is-valid');
            },
        });
        $('#RenewForm').validate({
            rules: {
                nDayRenew: {
                    required: true,
                    number: true,
                    min: 1,
                },
            },
            messages: {
                nDayRenew: {
                    required: 'Chưa nhập số ngày gia hạn.',
                    number: 'Dữ liệu phải là số tự nhiên.',
                    min: 'Số nhập vào phải lớn hơn 0.',
                },
            },
            errorElement: 'em',
            errorClass: 'mt-2 d-block text-danger text-left',
            highlight: function (e) {
                $(e).removeClass('is-valid').addClass('is-invalid');
            },
            unhighlight: function (e) {
                $(e).removeClass('is-invalid').addClass('is-valid');
            },
        });
    })
</script>

{{/section}}


<section id="news-management" class="mt-4">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <!-- bao gom menu
                    * neu la admin:
                        + Quản lý chuyên mục
                        + Quản lý nhãn tag
                        + Quản lý bài viết
                            + Bài viết đã xuất bản
                            + Bài viết đã được duyệt & chờ xuất bản
                            + Bài viết chưa duyệt
                        + Quản lý người dùng
                            + Phóng viên
                            + Biên tập viên
                            + Độc giả
                        -->
                <div id="accordion">
                    <div>
                        <div>
                            <a class="list-group-item list-group-item-action" href="/admin">
                                Quản lý chuyên mục
                            </a>
                        </div>
                    </div>
                    <div>
                        <div>
                            <a class="list-group-item list-group-item-action" href="/admin/tag">
                                Quản lý nhãn tag
                            </a>
                        </div>
                    </div>
                    <div>
                        <div id="headingTwo">
                            <a class="list-group-item list-group-item-action collapsed dropdown-toggle"
                                href="#collapseTwo" data-toggle="collapse" aria-expanded="false"
                                aria-controls="collapseTwo">
                                Quản lý bài viết
                            </a>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div>
                                <a class="list-group-item list-group-item-action" href="/admin/not-accepted-news">
                                    <div class="ml-2"><i class="fa fa-caret-right mr-2"></i>Bài viết chưa duyệt</div>
                                </a>
                            </div>
                            <div>
                                <a class="list-group-item list-group-item-action" href="/admin/accepted-news">
                                    <div class="ml-2"><i class="fa fa-caret-right mr-2"></i>Bài viết chờ xuất bản</div>
                                </a>
                            </div>
                            <div>
                                <a class="list-group-item list-group-item-action" href="/admin/published-news">
                                    <div class="ml-2"><i class="fa fa-caret-right mr-2"></i>Bài viết đã xuất bản</div>
                                </a>
                            </div>
                            <div>
                                <a class="list-group-item list-group-item-action" href="/admin/denied-news">
                                    <div class="ml-2"><i class="fa fa-caret-right mr-2"></i>Bài viết bị từ chối</div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div id="headingThree">
                            <a class="list-group-item list-group-item-action collapsed dropdown-toggle"
                                href="#collapseThree" data-toggle="collapse" aria-expanded="true"
                                aria-controls="collapseThree">
                                Quản lý người dùng
                            </a>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                            <div>
                                <a class="list-group-item list-group-item-action" href="/admin/writer">
                                    <div class="ml-2"><i class="fa fa-caret-right mr-2"></i>Phóng viên</div>
                                </a>
                            </div>
                            <div>
                                <a class="list-group-item list-group-item-action active" href="/admin/editor">
                                    <div class="ml-2"><i class="fa fa-caret-right mr-2"></i>Biên tập viên</div>
                                </a>
                            </div>
                            <div>
                                <a class="list-group-item list-group-item-action" href="/admin/subscriber">
                                    <div class="ml-2"><i class="fa fa-caret-right mr-2"></i>Độc giả</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="wrapper wrapper-content">
                    <div class="content-menu-item" id="editor-management">
                        <h3 class="mb-3 mt-3">Danh sách biên tập viên</h3>
                        <div class="div-btn-control mb-3 mt-3">
                            <button type="button" class="btn btn-primary" id="createEditor" data-toggle="modal"
                                data-target="#CreateAccountModal" data-backdrop="static">Tạo
                                tài khoản</button>
                        </div>
                        <table class="can-be-edit table table-hover table-bordered mb-0" id="editor-management-table">
                            <col style="width:5%">
                            <col style="width:25%">
                            <col style="width:30%">
                            <col style="width:15%">
                            <col style="width:25%">

                            <thead class="thead-dark">
                                <tr>
                                    <th style="vertical-align: top;">#</th>
                                    <th style="vertical-align: top;">Họ tên</th>
                                    <th style="vertical-align: top;">Email</th>
                                    <th style="vertical-align: top;">Ngày sinh</th>
                                    <th style="vertical-align: top;">Chuyên mục quản lý</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each this.editors}}
                                <tr onclick="openDetailAccountEditor(this, '{{strCatID}}','{{catManagementHTML}}')">
                                    <th scope="row" class="text-center">{{id}}</th>
                                    <td>{{name}}</td>
                                    <td>{{email}}</td>
                                    <td>{{dob}}</td>
                                    <td>{{strCatManagement}}</td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                        <ul class="pagination justify-content-center mt-4">
                            {{#each this.pages}}
                            {{#if active}}
                            <li class="page-item active" aria-current="page">
                                <a class="page-link" href="javascript:;">{{value}} <span
                                        class="sr-only">(current)</span></a>
                            </li>
                            {{else}}
                            <li class="page-item">
                                <a class="page-link" href="editor/?page={{value}}">{{value}}</a>
                            </li>
                            {{/if}}
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Modal: create account -->
<div class="modal fade" id="CreateAccountModal" tabindex="-1" role="dialog" aria-labelledby="CreateAccountModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="CreateAccountModalLabel">Tạo tài khoản</h5>
                <button id="closeCreateAccountModal" type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form novalidate id="formRegister" action="/admin/editor/register" method="POST" autocomplete="off">
                    <div class="form-group">
                        <input type="text" class="form-control" name="name" placeholder="Họ tên" autofocus>
                    </div>
                    <div class="form-group">
                        <input id="dtpicker_dob" type="text" class="form-control" name="dob" placeholder="Ngày sinh">
                    </div>
                    <div class="form-group">
                        <input id="txtEmail" type="email" class="form-control" name="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Mật khẩu">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="confirmPw" placeholder="Nhập lại mật khẩu">
                    </div>
                    <hr>
                    <div class="form-group">
                        <label for="" style="color:#737373;">Chọn chuyên mục phân công</label>
                        <select class="selectpicker form-control" multiple data-live-search="true"
                            name="catManagement[]">
                            {{#each this.rootCategories}}
                            <optgroup label='{{cat_name}}'>
                                {{#each childCategories}}
                                <option value={{id}}>{{cat_name}}</option>
                                {{/each}}
                            </optgroup>
                            {{/each}}
                        </select>
                    </div>
                    <div class="clearfix mt-4">
                        <button type="submit" name="" class="btn btn-primary">Đăng kí</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal: detail account-->
<div class="modal fade" id="DetailAccountModal" tabindex="-1" role="dialog" aria-labelledby="DetailAccountModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="DetailAccountLabel">Thông tin tài khoản</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form novalidate class="user-info view-info">
                    <div class="form-group">
                        <label for=""><b>ID</b></label>
                        <input disabled id="txtDetailID" name="id" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for=""><b>Họ tên</b></label>
                        <input disabled id="txtDetailName" name="name" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for=""><b>Email</b></label>
                        <input disabled id="txtDetailEmail" name="email" type="email" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for=""><b>Ngày sinh</b></label>
                        <input disabled id="txtDetailDOB" name="dob" type="text" class="form-control">
                    </div>
                    <div class="form-group" id="categoryDetailAccountModal-container">
                        <label for=""><b>Chuyên mục quản lý:</b></label>
                        <ul id="category-editor">
                        </ul>
                    </div>
                </form>
                <!-- Phân công cho biên tập viên-->
                <div class="pt-3" id="AssignEditor-container">
                    {{!-- action được gán trong file editor.js --}}
                    <form novalidate id="AssignForm" method="POST" action="">
                        <div class="form-group">
                            <label for="">
                                <h5>Chọn chuyên mục phân công</h5>
                            </label>
                            <select class="selectpicker form-control" multiple data-live-search="true"
                                name="catManagement[]" id="selectCatManagement">
                                {{#each this.rootCategories}}
                                <optgroup label='{{cat_name}}'>
                                    {{#each childCategories}}
                                    <option value={{id}}>{{cat_name}}</option>
                                    {{/each}}
                                </optgroup>
                                {{/each}}
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Hoàn tất</button>
                        <button type="button" class="btn btn-secondary"
                            onclick="BackMainDetailAccount('AssignEditor-container')">Trở
                            về</button>
                    </form>
                </div>
            </div>
            <div class="modal-footer justify-content-center" id="DetailAccountModal-footer">
                <button type="button" class="btn btn-primary" id="btnAssignEditor"
                    onclick="openContainerActionDetailAccount('AssignEditor-container')">Phân công</button>
                <a class="btn btn-danger" id="btnBan" href="">Cấm</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>