{{#section 'css'}}
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.10/css/bootstrap-select.min.css">

<link rel="stylesheet" href="/asset/css/news_management.css">
{{/section}}

{{#section 'js'}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.10/js/bootstrap-select.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.3/themes/fa/theme.min.js"></script>

<script src="/asset/js/widget_utility.js"></script>

<script src="/asset/js/admin/tags.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
<script>
    $(function () {

        $('#TagForm').validate({
            rules: {
                tag_name: {
                    required: true,
                    remote: {
                        url: '/admin/tag/is-available',
                        data: {
                            'tag_name': function () { return $('#txtTag').val(); },
                            'id': function () { return $('#txtTagID').val(); }
                        },
                        dataType: 'json'
                    }
                }
            },
            messages: {
                tag_name: {
                    required: 'Bạn chưa nhập tên tag.',
                    remote: 'Tag đã có. Hãy nhập tên khác.'
                }
            },
            errorElement: 'small',
            errorClass: 'help-block text-danger',
            highlight: function (e) {
                $(e).removeClass('is-valid').addClass('is-invalid');
            },
            unhighlight: function (e) {
                $(e).removeClass('is-invalid').addClass('is-valid');
            }
        });
    })
</script>

{{/section}}


<section id="news-management" class="mt-4">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <!-- bao gom menu
                    * neu la admin:
                        + Quản lý chuyên mục
                        + Quản lý nhãn tag
                        + Quản lý bài viết
                            + Bài viết đã xuất bản
                            + Bài viết đã được duyệt & chờ xuất bản
                            + Bài viết chưa duyệt
                        + Quản lý người dùng
                            + Phóng viên
                            + Biên tập viên
                            + Độc giả
                        -->
                <div id="accordion">
                    <div>
                        <div>
                            <a class="list-group-item list-group-item-action" href="/admin">
                                Quản lý chuyên mục
                            </a>
                        </div>
                    </div>
                    <div>
                        <div>
                            <a class="list-group-item list-group-item-action active" href="/admin/tag">
                                Quản lý nhãn tag
                            </a>
                        </div>
                    </div>
                    <div>
                        <div id="headingTwo">
                            <a class="list-group-item list-group-item-action collapsed dropdown-toggle"
                                href="#collapseTwo" data-toggle="collapse" aria-expanded="false"
                                aria-controls="collapseTwo">
                                Quản lý bài viết
                            </a>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div>
                                <a class="list-group-item list-group-item-action" href="/admin/not-accepted-news">
                                    <div class="ml-2"><i class="fa fa-caret-right mr-2"></i>Bài viết chưa duyệt</div>
                                </a>
                            </div>
                            <div>
                                <a class="list-group-item list-group-item-action" href="/admin/accepted-news">
                                    <div class="ml-2"><i class="fa fa-caret-right mr-2"></i>Bài viết chờ xuất bản</div>
                                </a>
                            </div>
                            <div>
                                <a class="list-group-item list-group-item-action" href="/admin/published-news">
                                    <div class="ml-2"><i class="fa fa-caret-right mr-2"></i>Bài viết đã xuất bản</div>
                                </a>
                            </div>
                            <div>
                                <a class="list-group-item list-group-item-action" href="/admin/denied-news">
                                    <div class="ml-2"><i class="fa fa-caret-right mr-2"></i>Bài viết bị từ chối</div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div id="headingThree">
                            <a class="list-group-item list-group-item-action collapsed dropdown-toggle"
                                href="#collapseThree" data-toggle="collapse" aria-expanded="false"
                                aria-controls="collapseThree">
                                Quản lý người dùng
                            </a>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                            <div>
                                <a class="list-group-item list-group-item-action" href="/admin/writer">
                                    <div class="ml-2"><i class="fa fa-caret-right mr-2"></i>Phóng viên</div>
                                </a>
                            </div>
                            <div>
                                <a class="list-group-item list-group-item-action" href="/admin/editor">
                                    <div class="ml-2"><i class="fa fa-caret-right mr-2"></i>Biên tập viên</div>
                                </a>
                            </div>
                            <div>
                                <a class="list-group-item list-group-item-action" href="/admin/subscriber">
                                    <div class="ml-2"><i class="fa fa-caret-right mr-2"></i>Độc giả</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="wrapper wrapper-content">
                    <div class="content-menu-item" id="tag-management">
                        <h3 class="mb-3 mt-3">Danh sách nhãn tag</h3>
                        <div class="div-btn-control mb-3 mt-3">
                            <button type="button" class="btn btn-primary" id="addTag" data-toggle="modal"
                                data-target="#TagModal" data-backdrop="static" onclick="openAddTag()">Thêm
                                mới</button>
                            <button type="button" class="btn btn-primary" id="deleteTag"
                                onclick="openDeleteTag()">Xóa</button>
                        </div>
                        <table class="can-be-edit table table-hover table-bordered mb-0" id="tableTag">
                            <col style="width:5%">
                            <col style="width:60%">
                            <col style="width:35%">

                            <thead class="thead-dark">
                                <tr>
                                    <th style="vertical-align: top;">#</th>
                                    <th style="vertical-align: top;">Tên nhãn</th>
                                    <th style="vertical-align: top;">Số lượng bài viết</th>
                                    <th class="colDeleteTag"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each this.tags}}
                                <tr onclick="openEditTag(this)">
                                    <th scope="row" class="text-center">{{id}}</th>
                                    <td>{{tag_name}}</td>
                                    <td>{{numPosts}}</td>
                                    <td class="colDeleteTag">
                                        <a class="btn btn-danger" href="/admin/tag/delete/{{id}}">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                        <ul class="pagination justify-content-center mt-4">
                            {{#each this.pages}}
                            {{#if active}}
                            <li class="page-item active" aria-current="page">
                                <a class="page-link" href="javascript:;">{{value}} <span
                                        class="sr-only">(current)</span></a>
                            </li>
                            {{else}}
                            <li class="page-item">
                                <a class="page-link" href="/admin/tag/?page={{value}}">{{value}}</a>
                            </li>
                            {{/if}}
                            {{/each}}
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Modal add/update tag-->
<div class="modal fade" id="TagModal" tabindex="-1" role="dialog" aria-labelledby="TagModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TagModalLabel">Thêm nhãn tag</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="divAdd">
                    {{!-- link submit của form được set trong tags.js --}}
                    <form id="TagForm" method="POST" action="/admin/tag/add"> 
                        <div class="AddTag-container">
                            <div class="form-group" id="divIDTag" style="display:none;">
                                <label for="txtCatID">#</label>
                                <input readonly type="text" class="form-control" id="txtTagID" name="id">
                            </div>
                            <div class="form-group">
                                <label for="tag"><b>Tên nhãn</b></label>
                                <input class="form-control" id="txtTag" type="text" placeholder="Nhập tên nhãn tag"
                                    name="tag_name">
                            </div>
                            <hr>
                            <div class="clearfix">
                                <button type="submit" class="btn btn-primary btnAdd" id="btnAddTag">Thêm</button>
                                <button type="submit" class="btn btn-primary btnEdit" id="btnEditTag">Chỉnh sửa</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>