{{#section 'js1'}}
<script src="//cdn.ckeditor.com/4.11.4/full/ckeditor.js"></script>
{{/section}}

{{#section 'js'}}

<script>

    $('#frm_add_new_comment').submit(function (event) {
        let data = CKEDITOR.instances['comment-box'].getData();
        if (data === '' || data === null) {
            alert('Nội dung bình luận không được để trống.');
            return false;
        }
    });

    $(function () {
        setTimeout(function () {
            $('.floating-alert').alert('close');
        }, 2000)
    });

    $('#view-more-comment').click(function () {
        let viewMore = $(this);
        let commentPage = viewMore.attr('data-commentpage');
        const postId = viewMore.attr('data-post-id');

        console.log(commentPage);

        $.getJSON(`/posts/${postId}/comment?commentPage=${commentPage}`, data => {

            if (data.status === false) {
                return;
            }

            const commentItem = $('.post-comment .list-comment .comment-item:last-child');

            data.comments.map((val, idx) => {
                let item = $(commentItem).clone();

                $(item).attr('data-comment_id', val.comment_id);
                $(item).find('.user .name a').html(val.name);
                $(item).find('.user .comment-date').html(val.date_submit);
                $(item).find('.comment-content').html(val.content);

                $('.post-comment .list-comment').append(item);
            })

            viewMore.attr('data-commentpage', ++commentPage);

            if (data.nextPage === false) {
                // xóa nút hiển thị thêm
                viewMore.parent().remove();
            }

        })
    })

</script>
{{/section}}

<section class="post mt-4">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="post-container">
                    <div class="cover-image-container">
                        <div class="cover-image">
                            <img src="{{this.post.cover_image}}" alt="cover photo">
                        </div>
                        <p class="post-title">{{this.post.title}}</p>

                        {{#if this.post.type_post}}
                        <div class="premium-article" title="Bài viết premium">
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        </div>
                        {{/if}}
                    </div>

                    <div class="post-description mt-3">
                        <div class="category">Chuyên mục: &nbsp; <a
                                href="/categories/{{this.post.id_category}}/posts">{{this.post.cat_name}}</a></div>
                        <div class="posted-date mt-2">Ngày đăng: <span>{{this.post.date_posted}}</span></div>
                        {{#if this.tags}}
                        <div class="list-tags mt-2">
                            <span>Thẻ:</span> &nbsp;
                            <ul class="tags" style="display: inline-block;">
                                {{#each this.tags}}
                                <li class="item">
                                    <a class="link" href="/tags/{{id}}/posts">{{tag_name}}</a>
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                        {{/if}}
                    </div>

                    <div class="container-post mt-3">
                        {{{this.post.content}}}
                    </div>

                    {{#if this.post.download_link}}
                    <div class="button-utility text-right mt-3">
                        <a href="{{this.post.download_link}}" class="btn-download-doc btn btn-success">
                            <i class="fa fa-download" aria-hidden="true"></i> Tải ấn bản
                        </a>
                    </div>
                    {{/if}}

                    <hr />

                    <div class="post-comment mt-3">
                        {{#if this.comments}}
                        <ul class="list-comment mb-4">
                            {{#each this.comments.listComment}}
                            <li class="comment-item" data-comment_id="{{comment_id}}">
                                <div class="comment-wrapper">
                                    <div class="user">
                                        <div class="name">
                                            <a href="" class="link">{{name}}</a>
                                        </div>
                                        <div class="comment-date">{{date_submit}}</div>
                                    </div>
                                    <div class="comment-content mt-2">
                                        {{{content}}}
                                    </div>
                                </div>
                            </li>
                            {{/each}}
                        </ul>

                        {{#if this.comments.isViewMoreComment}}
                        <hr />

                        <div class="text-center mb-4">
                            <a id="view-more-comment" data-post-id="{{this.post.id}}"
                                data-commentPage="{{this.comments.commentPage}}" href="javascript:;">Hiển thị thêm bình
                                luận</a>
                        </div>
                        {{/if}}


                        {{/if}}

                        {{#if this.msgToView.msg_type}}
                        <div class="floating-alert alert alert-{{this.msgToView.msg_type}} alert-dismissible fade show"
                            role="alert">
                            {{this.msgToView.msg}}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        {{/if}}

                        <div class="add-new-comment">
                            <h5 class="mb-4 mt-4">Đăng bình luận mới</h5>

                            <form class="form_comment" action="/posts/{{this.post.id}}/comment" method="POST"
                                id="frm_add_new_comment">
                                <textarea name="comment" id="comment-box" required></textarea>
                                <script>
                                    CKEDITOR.replace('comment-box', {
                                        language: 'en',
                                        toolbarCanCollapse: true,
                                        customConfig: '/asset/ckeditor/custom/comment_config.js'
                                    });
                                </script>

                                <div class="mt-3 submit-buttons text-left">
                                    <button class="btn btn-primary">Bình luận</button>
                                </div>
                            </form>
                        </div>

                        {{#if isAuthenticated}}

                        {{else}}
                        <div class="remind-login">
                            <a href="/account/login" class="concealed element"><small>(Bạn
                                    phải đăng nhập hay đăng ký tài khoản để đăng bài ở đây)</small></a>
                        </div>
                        {{/if}}
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="sidebar-wrapper mt-4 mt-lg-0">
                    <div class="most-view related-news">
                        <h2 class="article-header">Cùng chuyên mục</h2>
                        <ul class="list-article mt-4">
                            {{#each this.postsInCategory}}
                            <li class="article">
                                <div class="article-thumbnail">
                                    <div class="thumbnail-image">
                                        <img src="{{cover_image}}" alt="{{title}}">
                                    </div>
                                </div>
                                <div class="article-content">
                                    <div class="category">
                                        <a href="/categories/{{id_category}}/posts" class="link">{{cat_name}}</a>
                                    </div>
                                    <div class="published-date">
                                        <i class="fa fa-clock-o mr-2" aria-hidden="true"></i>
                                        {{date_posted}}
                                    </div>
                                    <div class="article-title">
                                        <a href="/posts/{{id}}" class="link">{{title}}</a>
                                    </div>
                                </div>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>